{% extends "base.html" %}

{% block title %}Podcasts{% endblock %}

{% block content %}
  <h1>Podcasts</h1>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Hosts</th>
        <th>Guests</th>
        <th>Unique</th>
      </tr>
    </thead>
    <tbody>
      {% for row in podcast_rows %}
        <tr>
          <td>{{ row.podcast.degree_rank }}</td>
          <td><a href="{% url 'explorer:podcast_detail' row.podcast.id %}">{{ row.podcast.name }}</a></td>
          <td>
            {% for host in row.hosts %}
              {% if host.person %}
                <a href="{% url 'explorer:person_detail' host.person.id %}">{{ host.name }}</a>{% if not forloop.last %}, {% endif %}
              {% else %}
                {{ host.name }}{% if not forloop.last %}, {% endif %}
              {% endif %}
            {% endfor %}
          </td>
          <td>{{ row.podcast.num_guests }}</td>
          <td>{{ row.podcast.percent_unique }}%</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
