{% extends "base.html" %}

{% block title %}Podcasts{% endblock %}

{% block content %}
  <h1>Podcasts</h1>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Guest Appearances</th>
        <th>Unique Guests</th>
        <th>Latest Episode</th>
      </tr>
    </thead>
    <tbody>
      {% for row in podcast_rows %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'explorer:podcast_detail' row.id %}">{{ row.name }}</a></td>
          <td>{{ row.guest_appearances }}</td>
          <td>{{ row.unique_guests }}</td>
          <td>{{ row.latest_episode|date:"Y-m-d" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
